div.stButton > button:first-child {
    border-color: #d6d6d8;
    background-color: #ffffff;
    color: #31333e;
}
div.stButton > button:hover {
    border-color: #448a60;
    background-color: #ffffff;
    color: #448a60;
}
div.stButton > button:active {
    border-color: #448a60;
    background-color: #448a60;
    color: #ffffff;
}